h1 {
    font-size: 3.5em;   
}

h1, h2 {
    font-weight: 500;   
}

p, li {
    font-size: 1.1em;
}

footer {
    margin: 0 2% 2%;
    text-align: center;
    font-size: 0.9em;
}

a {
    font-weight: 400;
}

.intro {
    font-size: 1.2em;
}
