.request-item {
	padding-bottom: 5%;
}

.success-icon {
	color: #3F7600;
}

.error-icon {
	color: #D2000D;
}

.request-details-list {
	list-style: none;
}

.request-details-buttons {
	text-align: right;
}

.login-buttons {
	font-size: 1.5em;
	list-style: none;
}

.settings {
	padding-top: 5%;
}

.settings button {
	margin: 10% 0%;
}