<template name="admin">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1>Admin</h1>
			<span class="login-buttons"> {{> loginButtons}} </span>
		</div>
	</div>

	{{#if currentUser}}
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="settings">

		    {{#autoForm collection="Settings" doc=settings id="updateSettingsForm" type="update" resetOnSuccess="false"}}
					
					<h2>General Settings</h2>

					{{> afQuickField name='searchOptionsMOVIES'}}
					{{> afQuickField name='searchOptionsTV'}}
					{{> afQuickField name='approval'}}
					{{> afQuickField name='weeklyLimit'}}

					<h2>Plex Authentication</h2>

					{{> afQuickField name='plexAuthenticationENABLED'}}
					{{> afQuickField name='plexAuthenticationTOKEN'}}

					<h2>Couch Potato</h2>

					{{> afQuickField name='couchPotatoENABLED'}}
					{{> afQuickField name='couchPotatoURL'}}
					{{> afQuickField name='couchPotatoPORT'}}
					{{> afQuickField name='couchPotatoAPI'}}
					{{> afQuickField name='couchPotatoSSL'}}
					
					<h2>Sick Rage</h2>

					{{> afQuickField name='sickRageENABLED'}}
					{{> afQuickField name='sickRageURL'}}
					{{> afQuickField name='sickRagePORT'}}
					{{> afQuickField name='sickRageAPI'}}
					{{> afQuickField name='sickRageSSL'}}

					<h2>Sonarr</h2>

					{{> afQuickField name='sonarrENABLED'}}
					{{> afQuickField name='sonarrURL'}}
					{{> afQuickField name='sonarrPORT'}}
					{{> afQuickField name='sonarrAPI'}}
					{{> afQuickField name='sonarrSSL'}}
					{{> afQuickField name='sonarrQUALITYPROFILEID'}}
					{{> afQuickField name='sonarrROOTFOLDERPATH'}}
					{{> afQuickField name='sonarrSEASONFOLDERS'}}

					<h2>PushBullet</h2>

					{{> afQuickField name='pushbulletENABLED'}}
					{{> afQuickField name='pushbulletAPI'}}

					<h2>PushOver</h2>

					{{> afQuickField name='pushoverENABLED'}}
					{{> afQuickField name='pushoverAPI'}}

	    	  <button type="submit" class="btn btn-primary">Save</button>
		    {{/autoForm}}

			</div>
		</div>
	</div>
	{{/if}}
</template>