<template name="about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {{#if currentUser }}
                <h1>About</h1>
                <p class="lead">Need to check with Branch you're on, or what the current commit is? You've come to the right place! You can return to the <a href="/">application</a>, or the <a href="/admin">admin</a> interface once done.</p>

                <h3><span style="font-weight:400;">Branch:</span> <a href="https://github.com/lokenx/plexrequests-meteor/tree/{{branch}}" target="_blank">{{branch}}</a></h3>

                <h3><span style="font-weight:400;">Version:</span> {{version}} {{#if updateAvailable}}- There's an <a href="https://github.com/lokenx/plexrequests-meteor">update</a> available!{{/if}}</h3>

                {{else}}
                <div class="unauthorized">
                    <h2>You are not authorized to view this page <i class="fa fa-exclamation-triangle enabledError"></i></h2>
                    <h3><a href="/">Return to the main page!</a></h3>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
