<template name="home">
    <div class="container">
        {{#if plexauthuser }}
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>Plex Requests!</h1>
                    <p class="lead">Want to watch something but it's not currently on Plex?<br>
                         Select an option and then do a quick <a href="https://www.themoviedb.org/" target="_blank">TMDB</a> search!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="picktype" class="btn-group btn-group-justified" role="group" aria-label="Pick the Search">
                       <a href="#" id="selMovie"  class="btn btn-default" role="button">Movies</a>
                       <a href="#" id="selTV" class="btn btn-default" role="button">TV Series</a>
                    </div>
                    {{> search}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="overview" id="resultsList" style="display:none;">
                        {{> results}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div id="requests-block" class="top-buffer" style="display:none;">
                        <a href="#" id="showRequests" class="btn btn-default" role="button"><i class="fa fa-list-alt"></i> View requests</a>
                        <a href="#" id="hideRequests" class="btn btn-default" role="button" style="display:none"><i class="fa fa-times-circle-o"></i> Hide requests</a>
                        {{#if searchType}}
                            {{> requests}}
                        {{/if}}
                    </div>
                </div>
            </div>
        <br>
        <br>
        <br>
        {{else}}
            {{> signin}}
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</template>