<template name="home">
<div class="container">
	{{#if plexauthuser }}
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Plex Requests!</h1>
            <p class="lead">Want to watch something but it's not currently on Plex?<br>
	               Select an option and then do a quick <a href="https://www.themoviedb.org/" target="_blank">TMDB</a> search!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <form>
                <div class="selForm">
                    <input type="radio" id="selMovie" name="radio">
                    <label for="selMovie">Movies</label>
                    <input type="radio" id="selTV" name="radio">
                    <label for="selTV">TV Series</label>
                </div>
            </form>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            
            {{> search}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="overview" id="resultsList" style="display:none;">
                {{> results}}
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            
            <!-- Results messages -->
            <input id="addedSuccess" type="button" style="display:none;" value="Added successfully! Search again?" class="btn btn-success" onclick="getElementById('search').focus()">
            <input id="addedError" type="button" style="display:none;" value="" class="btn btn-warning" onclick="getElementById('search').focus()">
            
            
            <div class="info" id="requests" style="display:none;">
                <h3>Requests:</h3>
                <ul>
                    {{#each content}}
                        {{> item}}
                    {{/each}}
                </ul>
                <script>document.getElementById('requests').scrollIntoView({block: "end", behavior: "smooth"});</script>
            </div>
        </div>
    </div>
     {{else}}
    <!--Cleaned up to look more in style with the rest of the interface and to let user know what they're logging in for-->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Plex Requests!</h1>
            <p class="lead">Want to watch a movie but it's not currently on Plex?<br>
	                       Enter your Plex account username below to request content!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="plex-user-form" role="form">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Plex Username" name="plex-username" id='plex-username' required autofocus>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-user fa-fw"></i> Sign In</button>
                </div>
            </form>
            <input type="button" id="plex-wrong" value="Hmm that username does not exist...try again?" class="btn btn-warning" style="display:none" onclick="getElementById('plex-username').focus()">
            <input type="button" id="plex-error" value="Hmm we had trouble checking your username...try again?" class="btn btn-warning" style="display:none" onclick="getElementById('plex-username').focus()">
        </div>
    </div>
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>
        $('#selMovie').click(function () {
            Session.set("searchType", "movie");
            $('#myform').show();
            $(".overview").hide();
        });
        
        $('#selTV').click(function () {
            Session.set("searchType", "tv");
            $('#myform').show();
            $(".overview").hide();
        });
    </script>
</template>
