<template name="plex">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                
				        {{#if currentUser }}
                
                    <h1>Plex Authentication Setup</h1>
                    <p class="lead">This page is to setup your Plex Requests site with user authentication. If you are having issues please post on the <a href="https://forums.plex.tv/index.php/topic/151899-plex-movie-requests/">forums</a> or the <a href="https://github.com/lokenx/plexrequests-meteor">GitHub repo</a>. You can return to the <a href="/">application</a>, or the <a href="/admin">admin</a> interface once done.</p>

                    <div class="plexAuthEnabled" style="display:none">
                        <h3 style="font-weight:400;">Enabled: <span class="enabledSuccess">true <i class="fa fa-check-circle"></i></span></h3>
                    </div>
                    <div class="plexAuthDisabled">
                        <h3 style="font-weight:400;">Enabled: <span class="enabledError">false <i class="fa fa-exclamation-circle"></i></span></h3>
                    </div>
                    <div class="plexAuthSuccess" style="display:none">
                        <h3 style="font-weight:400;">Connection status: <span class="enabledSuccess">successful <i class="fa fa-check-circle"></i></span></h3>
                    </div>
                    <div class="plexAuthError">
                        <h3 style="font-weight:400;">Connection status: <span class="enabledError">error <i class="fa fa-exclamation-circle"></i></span></h3>
                    </div>
                    <div class="plexAuthSuccess" style="display:none">
                        <div class="plexAuthEnabled" style="display:none">
                            <a href="#"  class="show-plex-form">Sign in with a different account</a>
                        </div>
                    </div>
                                
                    <div class="plexAuth" style="display:none">
                        <h3>How does it work?</h3>
                        <p>When users visit the main page, they will be prompted to enter their Plex.tv user account names. This username will then get checked against your Plex Library's friends and managed accounts. If they're on the list they're in and can request content!</p>

                        <h3>Setup</h3>
                        <p>To get started you will need your Plex token. The easiest way is to use the form below to login to your Plex.tv account and we'll do the hard work! Alternative there are instructions below showing how to set it up manually.</p>
                        <br>
                        <form id="plex-login-form" class="form-inline">
                            <input type="text" class="form-control" placeholder="Plex Username" name="plex-username" id='plex-username' required autofocus>
                            <input type="password" class="form-control" placeholder="Plex Password" name="plex-password" id='plex-password' required autofocus>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-user fa-fw"></i> Sign In</button>
                        </form>
                        <input type="button" id="plex-error" value="Error connecting to Plex.tv, wrong username or password, please try again" class="btn btn-warning" style="display:none" onclick="getElementById('plex-username').focus()">
                        <br>
                        <br>
                        <h3>Manual setup instructions</h3>
                        <ol>
                            <li>Visit <a href="https://support.plex.tv/hc/en-us/articles/204059436-Finding-your-account-token-X-Plex-Token" target="_blank">this page</a> to learn how to get your own token manually</li>
                            <li>Once you have it go to the admin page and the settings collection</li>
                            <li>Enter your token under the <kbd>API</kbd> field, change the enabled field to <kbd>true</kbd>,
                          and finally enter your own Plex.tv username field under the <kbd>admin</kbd> field</li>
                        </ol>
                    </div>
                    <script>
                        $(document).ready(function () {
                            Meteor.call('checkPlexEnabled', function(err, data) {
                                if (err) {
                                    console.log(err);
                                } else if (data === true) {
                                    $('.plexAuthDisabled').hide();
                                    $('.plexAuthEnabled').removeAttr('style');
                                } else if (data === false) {
                                    $('.plexAuth').removeAttr('style');
                                }
                            });
                            Meteor.call('checkPlex', function(err, data) {
                                if (err) {
                                    console.log(err);
                                } else if (data === true) {
                                    $('.plexAuthError').hide();
                                    $('.plexAuthSuccess').removeAttr('style');
                                } else if (data === false) {
                                    $('.plexAuth').removeAttr('style');
                                }
                            });
                            $('a.show-plex-form').click(function(e){
                                $(".plexAuth").show();
                                e.preventDefault();
                                $(this).hide();
                                return false;
                            });
                        });
                </script>

                {{else}}
                
                <div class="unauthorized">
                    <h2>You are not authorized to view this page <i class="fa fa-exclamation-triangle enabledError"></i></h2>
                    <h3><a href="/">Return to the main page!</a></h3>
                </div>
                
                {{/if}}
                
            </div>
        </div>
    </div>
</template>