<template name="requests">
    <div class="overview" id="requests" style="display:none;">
        <h3>{{searchIs}} Requests:</h3>
        <div id="no-more-tables">
        	{{#if isMovie}}
        		{{> reactiveTable collection=Movies settings=settings }}
        	{{else}}
        		{{> reactiveTable collection=TV settings=settings }}
        	{{/if}}
        </div>
    <div>
            <button id="updateRequests" type="button" class="btn btn-info" onclick="javascript:Meteor.call('updateCP');">Update status requests!</button>
        </div>
    </div>
</template>