<template name="sickrage">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {{#if currentUser }}
                
                    <h1>SickRage/Beard Test Page</h1>

                    <p class="lead">
                        This page is to help confirm that you can successfully communicate with SickRage or SickBeard, if you still have issues please post on the <a href="https://forums.plex.tv/index.php/topic/151899-plex-movie-requests/">forums</a> or the <a href="https://github.com/lokenx/plexrequests-meteor">GitHub repo</a>. You can return to the <a href="/">application</a>, or the <a href="/admin">admin</a> interface once done.
                    </p>

                    <h3 style="font-weight:400;">
                        Enabled:
                        {{ #if Template.subscriptionsReady }}
                            <span class="{{ srClass 'enabled' 'span' }}">
                                {{ srEnabled }}
                                <i class="fa {{ srClass 'enabled' 'icon' }}"></i>
                            </span>
                        {{ else }}
                            {{ > loader }}
                        {{ /if }}
                    </h3>

                    <h3 style="font-weight:400;">
                        Connection status:
                        {{ #unless isChecking }}
                            <span class="{{ srClass 'connection' 'span' }}">
                                {{ srConnection }}
                                <i class="fa {{ srClass 'connection' 'icon' }}"></i>
                            </span>
                        {{ else }}
                            {{ > loader }}
                        {{ /unless }}
                    </h3>

                    <h3 style="font-weight:400;">
                        API/URL:
                    </h3><br>
                    <pre><code><span class="api">{{ sr }}</span></code></pre>

                    {{ #if isError }}
                        <div class="commonIssues">

                        <h3>Common Issues</h3>

                        <ol>
                            <li><strong>Customize settings: </strong> You need to go to the admin interface to setup your own SR/SB settings. You can navigate to it by going to <br><br><pre><code>{{ url }}admin</code></pre><br></li>
                            <li><strong>Service enabled: </strong> Please ensure you have enabled Sick Rage/Beard by changing the value of the <strong>Enabled</strong> field to <kbd>enabled</kbd><br><br></li>
                            <li><strong>URL: </strong> Please ensure you have typed the URL correctly, it should follow the below format<br><br><pre><code>http://192.168.0.1:5050/api/abcdef0123456789/</code></pre><br></li>
                            <li><strong>LAN: </strong>I've tested hosting Plex Request outside of my LAN and it works. If you would like to run it in a different location you will have to configure router firewall rules as well as port forwarding, and use your router/public IP instead of Sick Rage's. Also don't forget to put a username/password on Sick Rage as it's now opened up to the interwebs<br><br></li>
                            <li><strong>Manual test: </strong> You can try a manual call to the SickRage/Beard API via a web browser to confirm connectivity. Simply copy and paste the below URL into your browser, if things are working you should get a message displayed that says <kbd>{ "result": "success" }</kbd><br><br>
                            <pre><code>{{ sr }}?cmd=sb.ping</code></pre><br></li>
                        </ol>
                        </div>
                    {{ /if }}
                {{else}}
                    <div class="unauthorized">
                    <h2>You are not authorized to view this page <i class="fa fa-exclamation-triangle enabledError"></i></h2>
                    <h3><a href="/">Return to the main page!</a></h3>
                    </div>
                {{/if}}
            </div>
        </div>
    </div> 
</template>