<template name="signin">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>Plex Requests!</h1>
            <p class="lead">Want to watch a movie or tv show but it's not currently on Plex?<br>
	                       Enter your Plex account username below to request content!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form id="plex-user-form" role="form">
                <div class="form-inline">
                    <input type="text" class="form-control" placeholder="Plex Username" name="plex-username" id='plex-username' required autofocus>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-user fa-fw"></i> Sign In</button>
                </div>
            </form>
            <input type="button" id="plex-wrong" value="Hmm that username does not exist...try again?" class="btn btn-warning" style="display:none" onclick="getElementById('plex-username').focus()">
            <input type="button" id="plex-error" value="Hmm we had trouble checking your username...try again?" class="btn btn-warning" style="display:none" onclick="getElementById('plex-username').focus()">
        </div>
    </div>
</template>