<header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <nav>
                <ul>
                    <li><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
                    <li><a href="/faq"><i class="fa fa-question"></i> <span>FAQ</span></a></li>
                    <li><a href="/screenshots"><i class="fa fa-picture-o"></i> <span>Screenshots</span></a></li>
                    <li><a href="/changelog"><i class="fa fa-pencil"></i> <span>Change log</span></a></li>
                    <li><a href="/contact"><i class="fa fa-envelope"></i> <span>Contact</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="https://github.com/lokenx/plexrequests-meteor"><h1>Plex Requests</h1></a>
            <p class="lead">Simple automated way for users to request new content for Plex</p>
            <hr>
        </div>
    </div>      
</header>