h1 {
    font-size: 3.5em;
    color: #df691a;
}

label, .radio label {
    font-size: 1em;
}

.btn {
    margin: 2px 0px;
    white-space: normal;
}

.well {
    padding: 7px;
}

.commonIssues {
    padding-bottom: 10%;
}

/*.info ul {
    max-height: 200px;
    overflow: scroll;
}*/

.list-group-item{
	border-color: #2b3e50;
	margin-bottom: 0;
}

.add-request{
   position: absolute;
   right: 8px;
   top: 8px;
}

#searchError{
   position: relative;
   display: block;
   padding: 10px 15px;
   color: #f0ad4e;
}
/*
@media (max-width: 480px) {
	.add-request {
		  text-indent: -9999;
		  white-space: nowrap;
		  overflow: hidden;
	}
	.add-request:after {
	 	content: "\f067";
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    transform: translate(0, 0);
	}
}
*/

@media (min-width: 768px) {
    body {
        padding-top: 60px;
    }
}

.enabledError {
    color: #c0392b;
    font-weight: 700;
}

.cpError {
    color: #c0392b;
    font-weight: 700;
}

.loading {
    text-align: center;
    margin: auto;
    padding: 7%;
}

.loadingCP > div > div{
    height: 3em;
    width: 3em;
}

.enabledSuccess {
    color: #2ecc71;
    font-weight: 700;
}

.cpSuccess {
    color: #2ecc71;
    font-weight: 700;
}

.unauthorized {
    text-align: center;
}

.selForm {
}

.selForm input[type="radio"] {
    visibility:hidden;
}

.selForm label {
    padding: 3%;
    margin: 3%;
    font-size: 1.3em;
    border: 1px solid #fff;
}

.selForm input[type="radio"]:checked + label {
    background-color: #DD6928;
}