h1 {
    font-size: 3.5em;
}
p {
    font-size: 1.2em;
}
#results {
    padding-left: 15px;
}
.btn {
    margin: 2px 0px;
    white-space: normal;
}
.well {
    padding: 7px;
}

.info ul {
    max-height: 200px;
    overflow: scroll;
}

@media (min-width: 768px) {
    body {
        padding-top: 60px;
    }
    .info ul {
        max-height: 400px
    }
}
