<template name="layout">
	<nav class="navbar navbar-dark" style="background-color: #000;">
    <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#navBarItems">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-sm" id="navBarItems">
			<a class="navbar-brand" href="/"><i class="fa fa-play-circle logo-icon"></i> Plex Requests {{#if currentUser}}<a href="{{pathFor 'admin'}}" class="admin-link">Admin</a>{{/if}}</a>
      <ul class="nav navbar-nav pull-right">
        {{#if plexAuth}}
          <li class="{{isActiveRoute regex='search'}} nav-item"><a href="{{pathFor 'search'}}" class="nav-link">Search</a></li>
        {{/if}}
        {{#if auth}}
          <li class="{{isActiveRoute 'requests'}} nav-item"><a href="{{pathFor 'requests'}}" class="nav-link">Requests</a></li>
          {{#unless plexAuth}}
            <li class="nav-item"><a href="/" class="nav-link">Login</a></li>
          {{/unless}}
        {{/if}}
        {{#if plexAuth}}
          <li class="nav-item"><a href="#" id="logoutUser" class="nav-link">Logout</a></li>
        {{/if}}
      </ul>
    </div>
	</nav>

  <div class="container">

  <!-- Search bar and results list -->

  {{> yield}}


  </div>
</template>
